#logo { font-family: Courier New; font-weight: bold; font-size: 26pt; }
.green { color: #0a0; }

body { font-family: Verdana; font-size: 10pt; } 

#userinfo { float: right; }
#userinfo .name { font-weight: bold; }

.round { border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; }
.roundsmall { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }

#wa { background: #aaa url('/images/bkwa.jpg') repeat; padding: 1em; }
#wa_btn { cursor: pointer; padding: 1ex 2em; background-color: #0a0; color: white; border: 0px; font-size: 12pt; }
#wa_btn:hover { background-color: #0c0; }

#tabs { background: #aaa url('/images/bktabs.jpg') repeat; margin: 3px auto; text-align: center; width: 80%; }
#tabs > div { display: inline-block; width: 20%; }
#tabs > div { padding-top: 1ex; padding-bottom: 1ex; text-align: center; }
#tabs > div > img { float: left; }

#search { float: left; margin: 0px auto; }

#wt { text-align: center; margin: 1em auto 0px auto; width: 80%; float: right; }
#wt table { border: 1px solid #777; border-top: none; border-bottom: none; border-collapse: collapse; }
#wt table thead th, #wt table tbody td { border-right: 1px #777 solid; }
#wt table thead th { background-color: white; border-top: 1px #777 solid; border-bottom: 1px #777 solid; }
#wt table tbody * { cursor: pointer; background-color: white; }
#wt table tbody input { cursor: text; }
#wt table *.prelastcol { border-right: 1px #777 solid; }
#wt table *.lastcol { border-right: 1px white solid; background-color: white !important; }

#wt table thead th:first-child { display: none; }
#wt table tbody td:first-child { display: none; }

#wt table thead th:nth-child(2), #wt table tbody td:nth-child(2) { min-width: 100px; max-width: 100px; display: table-cell; word-wrap: break-word; }
#wt table thead th:nth-child(3), #wt table tbody td:nth-child(3) { min-width: 100px; max-width: 100px; display: table-cell; word-wrap: break-word; }
#wt table thead th:nth-child(4), #wt table tbody td:nth-child(4) { min-width: 300px; max-width: 300px; display: table-cell; word-wrap: break-word; }
#wt table thead th:nth-child(5), #wt table tbody td:nth-child(5) { min-width: 38px; max-width: 38px; display: table-cell; word-wrap: break-word; }
#wt table thead th:nth-child(6), #wt table tbody td:nth-child(6) { min-width: 40px; max-width: 40px; display: table-cell; word-wrap: break-word; }
#wt table thead th:nth-child(7), #wt table tbody td:nth-child(7) { margin: 0px auto; }

.editwordinput { font-size: 12pt; width: 100%; }


.tw, #words .wordok, #words .wordno { background: #eee url('/images/bkwt.jpg'); padding: 1ex; text-align: center; width: 70%; margin: 1em auto 0px auto; }
.tw .kbtn, .tw .dkbtn { cursor: pointer; padding: 1ex 2em; color: white; border: 1px solid black; font-size: 12pt; }
.tw .kbtn { background-color: #0a0; }
.tw .kbtn:hover { background-color: #0c0; }
.tw .dkbtn { background-color: #a00; }
.tw .dkbtn:hover { background-color: #c00; }
.tw .word { font-size: 28pt; word-wrap: break-word; }
.tw .opposite { font-size: 14pt; word-wrap: break-word; }
.tw .trlink, .tw .opposite { margin-bottom: 1em; }
.tw .trlink a { color: #888 !important; }

