<div id="wt">
<table><thead>
<tr><th>#</th><th>original</th><th>translation</th><th>sample</th></tr></thead><tbody>
<script type="text/javascript">
<% current_user.words.each do |word| %>
add_word_to_table({id: "<%= word.id %>", orig: "<%= word.orig %>", trans: "<%= word.trans %>", sample: "<%= word.sample %>"});
<% end %>
</script>
</tbody>
</table>
</div>







<pre id="log"></pre>
