<table id="wt"><thead>
<tr><th>#</th><th>original</th><th>translation</th><th>sample</th></tr></thead><tbody>
<% current_user.words.each do |word| %>
<tr>
<td><%= word.id %></td>
<td><%= word.orig %></td>
<td><%= word.trans %></td>
<td><%= word.sample %></td>
</tr>
<% end %>
</tbody>
</table>







<pre id="log"></pre>
