<h1>BY heart</h1>

<input type="text" id="wa_orig" name="wa_orig" placeholder="original">
<input type="text" id="wa_trans" name="wa_trans" placeholder="translated">
<input type="text" id="wa_sample" name="wa_sample" placeholder="sample">
<input type="submit" id="wa_btn" class="round" value="Add" onclick="add()">

<pre id="log"></pre>

<table id="wt">
<th><td>#</td><td>original</td><td>translation</td><td>sample</td></th>
<% current_user.words.each do |word| %>
<tr>
<td><%= word.id %></td>
<td><%= word.orig %></td>
<td><%= word.trans %></td>
<td><%= word.sample %></td>
</tr>
<% end %>
</table>

