<script type="text/javascript">
    var words = <%= @words.to_json.html_safe %>;
    var train_direction = <%= "\"#{@train_mode}\"".html_safe %>;
    var cur_word = null;
    
    function direction() {
        return train_direction == "orig";
    }

    $(document).ready(function() {
///        $('#template').hide();
        new_word();
    });

    function send_stats(succ) {
        var token = direction() ? "orig" : "trans";
        var dt = '[{"id":' + cur_word.id + ', "' + token + '_show":' + 1 
        if (succ) {
            dt += ', "' + token + '_succ" : 1'
        }         
        dt += '}]';
        $.ajax({
            type: 'POST',
            url: '/api/commit_stats',
            data: dt,
            success: function(data) {
                console.debug("stats updated");  
            }
        });

    }

    function new_word() {
        var curNew = $("#words .new");
        curNew.removeClass("new");
        curNew.children("#buttons").toggle(400);
        curNew.children("#opposite").fadeIn();
        curNew.children("a").hide();
        
        cur_word = words[Math.floor(Math.random() * words.length)].word;
        var newdiv = $("#template").clone();
        newdiv.removeAttr("id");
        newdiv.children("#word").html(direction() ? cur_word.orig : cur_word.trans);
        newdiv.children("#opposite").html(direction() ?cur_word.trans : cur_word.orig);
        newdiv.addClass("new");
        $("#words").prepend(newdiv);
        newdiv.toggle(400);
    }

    function succ() {
        $("#words .new").removeClass("notice").addClass("success");
        send_stats(true);
    }

    function fail() {
        $("#words .new").removeClass("notice").addClass("error");
        send_stats(false);
    }
</script>


<div id="template" class="notice hide round">
    <div id="word"></div>
    <a href="javascript:$('#words .new').children('#opposite').toggle(200)">translation</a>
    <div id="opposite" class="hide"></div>
    <div id="buttons">
        <input type="button" value="шарю" onclick="succ();new_word()"/>
        <input type="button" value="НЕ шарю" onclick="fail();new_word()"/>
    </div>
</div>

<div id="words">
</div>
