<div id="wa" class="round">
<input type="text" id="wa_orig" class="roundsmall" name="wa_orig" placeholder="original" onkeypress="on_add_word_click(event)" tabindex="1">
<input type="text" id="wa_trans" class="roundsmall" name="wa_trans" placeholder="translated" onkeypress="on_add_word_click(event)" tabindex="2">
<input type="text" id="wa_sample" class="roundsmall" name="wa_sample" placeholder="sample (optional)" onkeypress="on_add_word_click(event)" tabindex="3">
<input type="submit" id="wa_btn" class="round" value="Add" onclick="add()" tabindex="4">
</div>
