<div id="tabs" class="round">
    <div id="tab1">
        <img src="/images/train_passive.png">
        Train mode<br/>Eng-&gt;Rus
    </div>
    <div id="tab2">
        <img src="/images/train_passive.png">
        Train mode<br/>Rus-&gt;Eng
    </div>
    <div id="tab3">
        <img src="/images/edit_menu_passive.png">Edit mode<br/>&nbsp;
    </div>
</div>
