<div id="tabs" class="round">
    <div id="tab1">
        <img src="/images/train_passive.png">
        <!-- TODO: good links -->
        <a href="/web/train_orig">Train mode<br/>Eng-&gt;Rus</a>
    </div>
    <div id="tab2">
        <img src="/images/train_passive.png">
        <a href="/web/train_trans">Train mode<br/>Rus-&gt;Eng</a>
    </div>
    <div id="tab3">
        <img src="/images/edit_menu_passive.png">
        <a href="/web/home">Edit mode</a><br/>&nbsp;
    </div>
</div>
