<div id="tabs">
    <div id="tab1" class="span-4 prepend-6">Train mode<br/>Eng-&gt;Rus</div>
    <div id="tab2" class="span-4">Train mode<br/>Rus-&gt;Eng</div>
    <div id="tab3" class="span-4 append-6 last">Edit mode</div>
</div>
